* {
  margin: 0px;
  padding: 0px;
}

.main {
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container-fluid {
  margin: 0 auto;
  padding: 0px;
}

header {
  width: 100%;
  /* height: 700px; */
  position: relative;
}

header img {
  width: 100%;
  height: 100%;
}

.text-detail {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  text-align: center;
}

.text-detail {
  top: 300px;
}

.text-detail h3 {
  color: white;
  font-family: "Playfair Display", "Helvetica Neue";
  font-size: 20px;
}

.text-detail h1 {
  color: white;
  font-size: 82px;
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 900;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  padding: 5px 0px;
  position: absolute;
  top: 0px;
  z-index: 99;
  justify-content: space-between;
}

.navbar-brand {
  width: auto;
  padding-left: 10px;
}

.collapse {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.navbar-collapse .navbar-nav .nav-item {
  width: 100px;
}

.navbar-collapse .nav-item a {
  color: white;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-start {
  padding-top: 100px;
}

.sidenavbar {
  /* border: 1px solid white; */
  padding: 15px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 100px 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#navbar {
  background-color: #465328;
  right: 17px;
  position: absolute;
  top: 34px;
  color: white;
  font-size: 25px;
}

#navbar2 {
  background-color: #465328;
  display: none;
  z-index: -100;
  right: 0;
}

.section-start {
  padding-top: 100px;
}

#date-time {
  position: relative;
  height: 150px;
  margin: 0 auto;
}

.black-box {
  width: 90%;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: -130px;
  padding: 80px 0px;
  margin: 0 auto;
  z-index: 99;
  text-align: center;
  border-radius: 30px;
}

.black-box2 label {
  color: white;
}

.black-box2 input {
  padding: 10px;
  margin: 0 auto;
}

.book_now {
  padding: 20px 80px;
  z-index: 1999;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
}

.book_now:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#light-section {
  margin-top: 130px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

#light-section span {
  position: absolute;
  font-size: 140px;
  top: -20px;
  right: 0;
  left: 0;
  opacity: 0.090;
  font-family: "Playfair Display", "Helvetica Neue";
}

#light-section h2 {
  font-family: "Playfair Display", "Helvetica Neue";
  font-size: 40px;
  font-weight: 600;
}

#light-section h6 {
  font-weight: 400;
}

#light-section .main-line {
  font-family: "Playfair Display", "Helvetica Neue";
  font-size: 25px;
  font-weight: 900;
}

#light-section p {
  font-weight: 400;
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
}

#light-section h3 {
  font-size: 16px;
  font-weight: 400;
}

#light-section .name {
  font-size: 14px;
  font-weight: 400;
}

.avatar-img {
  width: 8%;
  border-radius: 100%;
  margin: 20px 0px;
}

.ocupation {
  font-size: 14px;
  font-weight: 400;
}

.banner-bar {
  position: relative;
  overflow: hidden;
}

.inner-img {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 99;
}

.inner-img img {
  width: 10px;
}

.banner-bar .main-img {
  width: 100%;
  cursor: pointer;
}

.banner-bar .main-title {
  position: absolute;
  bottom: 0;
  padding: 0px 10px;
  bottom: -120px;
  transition: all 1s ease-in-out;
}

.main-title .heading {
  font-size: 30px;
  padding: 25px 0px;
  font-family: "Playfair Display", "Helvetica Neue";
  font-size: 30px;
  width: 100%;
}


.banner-bar:hover>.main-title {
  bottom: 0px;
  background-color: white;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

#offer-section {
  text-align: center;
  margin: 100px auto;
}

#offer-section h6 {
  opacity: 0.7;
}

.view-more {
  margin: 20px 0px;
  border: 1px solid black;
  padding: 10px 30px;
  outline: none;
  border-radius: 10px;
}

.view-more:active {
  border: none;
}

#badview-slider {
  background-color: black;
  padding: 100px 0px;
}

.room-detail h2 {
  font-size: 40px;
  color: white;
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 800;
}

.room-detail h6 {
  color: green;
  text-decoration: underline;
}

.room-detail p {
  color: white;
  margin: 30px 0px;
}

.room-detail a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  transition: all 0.1s ease-in-out;
}

.room-detail a:hover {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.room-photos img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#testimonials {
  margin: 100px auto;
}

.testimonials-class {
  width: 100%;
}

.heading {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 800;
}

.title {
  font-weight: 400;
}

.avatar-img01 {
  width: 70%;
  border-radius: 100%;
  margin: 20px 0px;
}

footer {
  background-color: black;
  padding: 50px 0px;
}

.logo img {
  width: 100%;
}

.footer-menu {
  list-style: none;
  display: flex;
}

.footer-menu li {
  text-align: center;
}

.footer-menu li a {
  text-decoration: none;
  color: white;
  border: .7px solid white;
  margin: 0px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.footer-menu li a:hover {
  background-color: white;
  color: black;
}

*/

/* room page css */
.room-page-back {
  background-image: url(images/page-head-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.room-full {
  background-color: aliceblue;
  border-radius: 30px;
  overflow: hidden;
}

.page-background {
  padding: 200px 0px 50px 0px;
  background-color: rgba(0, 0, 0, 0.30);
}

.page-title h2 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 800;
}

.page-title h6 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 400;
}

.room-img img {
  width: 100%;
  height: 100%;
}

.room-type {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", "Helvetica Neue";
  font-weight: 800;
}

.room-review {
  font-size: 12px;
  color: green;
  margin: 0px 0px 40px 0px;
}

.review-text {
  color: rgb(171, 173, 176);
}

/* location page */
.other-img {
  height: 550px;
  background: url(images/home-packages.jpg);
}

.other-img img {
  width: 100%;
  height: 100%;
}

.box-video {
  width: 100%;
}

.location-img {
  width: 100%;
  height: 100%;
}

.detail {
  background-color: rgb(246, 243, 243);
  padding: 40px 30px;
  position: absolute;
  right: 100px;
}

.detail h5 {
  font-size: 16px;
  font-weight: 500;
}

.detail h2 {
  font-weight: 800;
  font-family: "Helvetica Neue";
}

.detail p {
  font-size: 16px;
  font-weight: 100;
}

.detail button {
  border: 1px solid black;
  transition: all 1s ease-in-out;
}

.detail button:hover {
  border: 1px solid transparent;
  background-color: black;
  color: white;
}

.detail2 {
  background-color: rgb(246, 243, 243);
  padding: 40px 30px;
  position: absolute;
  right: 100px;
}

.detail2 h5 {
  font-size: 16px;
  font-weight: 500;
}

.detail2 h2 {
  font-weight: 800;
  font-family: "Helvetica Neue";
}

.detail2 p {
  font-size: 16px;
  font-weight: 100;
}

.detail2 button {
  border: 1px solid black;
  transition: all 1s ease-in-out;
}

.detail2 button:hover {
  border: 1px solid transparent;
  background-color: black;
  color: white;
}

.heading {
  font-weight: 800;
  font-family: "Helvetica Neue";
}

.sub-heading {
  font-size: 16px;
  font-weight: 200;
}

/* activies */
.acitivite-boxes .icon {
  border: 1px solid black;
  width: 13%;
  border-radius: 20px;
}

.acitivite-boxes h3 {
  font-size: 22px;
  font-family: "Helvetica Neue";
  font-weight: 800;
  margin: 10px 0px;
}

.acitivite-boxes p {
  font-size: 15px;
  font-weight: 200;
}

#sports-ad {
  background-image: url(images/packages-banner-1.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ad-balck {
  padding: 100px 0px;
  background-color: rgba(0, 0, 0, 0.30);
}

.ad-balck h2 {
  font-size: 40px;
  font-family: "Helvetica Neue";
  font-weight: 800;
  margin: 10px 0px;
}

.trip,
.ad-balck p {
  max-width: 800px;
  margin: 0 auto;
  font-weight: 200;
}

.book-btn {
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  margin: 20px 0px;
  transition: all 1s ease-in-out;
}

.book-btn:hover {
  background-color: white;
}

.trip h5 {
  font-size: 15px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  margin: 10px 0px;
}

.trip h3 {
  font-size: 40px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  margin: 10px 0px;
}

.btn-location {
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  margin: 20px 0px;
  transition: all 1s ease-in-out;
  background-color: black;
}

.btn-location:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}